<!DOCTYPE html>
    <html lang=,"PT-BR">
        <head>
            <script>
             
            </script>
            <style>
             
            </style>
        </head>
        <body>
            <fieldset>
                <legend>logar no Curriculo</legend>
                <form action="curriculo.php" method="POST">
                    Usuario:<input type="text" name="nome" maxlength="10" minlength="5" placeholder="Usuario" required>
                    Senha: <input type="password" name="" placeholder= "senha" required>
                    <input type="submit" value="logar">
                </form>
            </fieldset>
            <fieldset>
                <legend>cadastrar curriculo</legend>
                Nome Completo:
                Telefone:
                E-mail:
                Endereço:
            </fieldset>
        </body>
    </html>/
